{% set day_of_week = {
    "0": "neděle",
    "1": "pondělí",
    "2": "úterý",
    "3": "středa",
    "4": "čtvrtek",
    "5": "pátek",
    "6": "sobota"
    }[weekday] | default("")
-%}

{% set month_word = {"01": "leden", "02": "únor", "03": "březen", "04": "duben", "05": "květen", "06": "červen", "07": "červenec", "08": "srpen", "09": "září", "10": "říjen", "11": "listopad", "12": "prosinec"}[month] | default("") -%}

{% set day_month_formated = {
    "01": "první",
    "02": "druhý",
    "03": "třetí",
    "04": "čtvrtý",
    "05": "pátý",
    "06": "šestý",
    "07": "sedmý",
    "08": "osmý",
    "09": "devátý",
    "10": "desátý",
    "11": "jedenáctý",
    "12": "dvanáctý",
    "13": "třináctý",
    "14": "čtrnáctý",
    "15": "patnáctý",
    "16": "šestnáctý",
    "17": "sedmnáctý",
    "18": "osmnáctý",
    "19": "devatenáctý",
    "20": "dvacátý",
    "21": "dvacátý-první",
    "22": "dvacátý-druhý",
    "23": "dvacátý-třetí",
    "24": "dvacátý-čtvrtý",
    "25": "dvacátý-pátý",
    "26": "dvacátý-šestý",
    "27": "dvacátý-sedmý",
    "28": "dvacátý-osmý",
    "29": "dvacátý-devátý",
    "30": "třicátý",
    "31": "třicátý-první",

}[day_month] | default("") -%}

Je {{ day_of_week }} {{ month_word }} den {{ day_month_formated }} a rok {{ year }}
